.cp{
  cursor: pointer;
}
.open{
  display: block;
}
.my-main{
  margin-top: 10px;
}

.alert-top {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index:9999;
  border-radius:0;
}
.mx-input{
  border-radius: 0 !important;
}
.my-model-lg{
  max-width: 1100px;
}

